
      <div class="hakkimda">
        <div class="hIcerik">
          <h2 style="text-align: center;"> Hakkkımda</h2>
           <pre> <p class="ön">Ben Hasan Basri Gözen. Bilgisayar Programcılığı 1.sınıf öğrencisiyim. </p> </pre>
              <p>Kısaca kendi tanıtmak gerekirse; araştırmayı ve kod yazmayı seven biriyim. Eğitim hayatım boyunca farklı insanlarla çalışıp takım halinde büyük projeler yapmayı öğrendim. İstekli, özenli ve dikkatli çalışmanın  mutlaka başarı ile sonuçlanacağının bilincindeyim. İçinde bulunduğum şirkete yararı olacak ve meslek ahlakıma ters  düşmeyecek her türlü işi prensip olarak bilir sorumluluk ile yerine getiririm. Ahlak ve görgü kurallarına azami  ölçüde dikkat ederim. 
              <br><br> <h2 style="text-align: center;">Hobilerim</h2> <br>
                <ol style="text-align: center;">
                <li>Kitap Okumak</li> <br>
                <li>Teknolojik Gelişmeleri Takip Etmek</li> <br>
                <li> <abbr title="Tekvando">Spor Yapmak</abbr></li> 
              </ol>
                      </div>
        <div class="hFoto hOrtak">    
        </div>
      </div>
        <div class="banner">
    </div>
    <div class="hakkimda">
        <div class="hFoto2 hOrtak">    
        </div>
        <div class="hIcerik"> 
          
            <table class="egitim">
              <tr>
                <th colspan="3" style="font-size: 25px;" > Eğitim Bilgilerim</th>
              </tr>
              <tr>
              <th>Antalya Akdeniz Üniversitesi</th>
              <th>Antalya Akdeniz Üniversitesi</th>
              <th>Eskişehir Anadolu Üniversitesi</th>
              </tr>
              <tr>
                <td> İnşaat Teknolojileri</td>
                <td> Bilgisayar Programcılığı</td>
                <td> Menkul Kıymetler ve Sermaye Piyasası</td>
              </tr>
              <tr>
                <td>2.Sınıf Terk</td>
                <td> Devam Ediyor</td>
                <td> Devam Ediyor </td>
              </tr>
            </table>
            
        </div>
      </div>
      