
  <h1 style="text-align: center;">Projelerim</h1>
  <div class="proje">
    <div class="proje1">
      <div class="grfk">
        <img src="../../../assets/img/Proje1-sonrası.jpg" width="300px" height="200px" alt=""> <br> 
      </div>
      <div class="pyazi">
          <h2> Ürün Tanıtımı</h2> <br> <br>
          <p>Bu projemde seçmiş olduğum örnek bir ürünü üzerinde bir kaç efektif çalışmalar yaparak ürünü tanıtıma hazır hale getirdim.</p><br>
          
    </div>
    </div>
    <div class="proje1">
      <div class="grfk">
        <img src="../../../assets/img/proje2-sonrasi.jpg" width="300px" height="200px" alt=""> <br>
      </div>
      <div class="pyazi">
          <h2>Karakalem Renklendirme</h2> <br> <br>
          <p>Belirlemiş olduğum çizgi film karakterinin karakalem çizimi yapılmış halini bularak, Yukarıda görmüş olduğunuz gibi renklendirdim.</p><br> <br>
          
    </div>
    </div>
    <div class="proje1">
      <div class="grfk">
        <img src="../../../assets/img/proje3-sonrasi.jpg" width="300px" height="200px" alt=""> <br>

      </div>
      <div class="pyazi">
          <h2>Smart Object</h2> <br> <br>
           <p>Smart Object adından da anlaşıldığı üzere nesnelere verilen bir özelliktir. Bu özellik sayesinde objelerde boyutlandırma,Birbirine Bağlı Nesnelerin Güncellenmesi,  Efekt Değişimleri gibi kalite ve bozulma kaybını önlemektedir. Bende yapmış olduğum bu  projede Smart Object çalışmasına örnek olarak hazırladım.</p> <br> <br>
          
    </div>
    </div>
</div>
  