
  <!-- <blockquote>https://www.google.com/imgres?imgurl=https%3A%2F%2Fs3.eu-central-1.amazonaws.com%2Fconfident-code%2FManual%2Bupload%2Fconfidentcode.jpg&imgrefurl=https%3A%2F%2Fconfidentcode.com%2Fguides%2Freminder-notifications-with-delayed-jobs-and-twillio&tbnid=XnKaxWckgPciZM&vet=12ahUKEwj5iPqSksvtAhVBwoUKHef2DzsQMygBegUIARCBAQ..i&docid=YcFDvSDv8P7zbM&w=5472&h=3648&q=black%20and%20white%20computer&hl=tr&ved=2ahUKEwj5iPqSksvtAhVBwoUKHef2DzsQMygBegUIARCBAQ</blockquote> -->
      <div class="banner container">
          
      </div>
      <br>
      <div class="content">
          <div class="duyuru">
              <h1>Projelerim</h1> <br> <br>
              <a href="projeler.html">
                <div class="ixproje1">              
                </div>
              </a>
              
              <a href="projeler.html">Smart Object</a>
              <a href="projeler.html">
                <div class="ixproje2">
                </div>
            </a>
            <a href="projeler.html">Ürün Tanıtımı</a>
              
          </div>
          <div class="indexhak"> 
               <h1>Ben Kimim</h1> <br><br> 
               <p>Kısaca kendi tanıtmak gerekirse; araştırmayı ve kod yazmayı seven biriyim. </p>
               <p> Eğitim hayatım boyunca farklı 
                 insanlarla çalışıp takım halinde büyük projeler yapmayı öğrendim. İstekli, özenli ve dikkatli çalışmanın  
                 mutlaka başarı ile sonuçlanacağının bilincindeyim. İçinde bulunduğum şirkete yararı olacak ve meslek ahlakıma 
                 ters  düşmeyecek her türlü işi prensip olarak bilir 
                 sorumluluk ile yerine getiririm. Ahlak ve görgü kurallarına azami  ölçüde dikkat ederim..</p>



          </div>
          <div class="erisim">
            <h1>Galeri</h1> <br> 
            <a href="gallery.html">
              <div class="ixspace1">              
              </div>
            </a>
            
            <a href="gallery.html">Antalya</a>
            <a href="gallery.html">
              <div class="ixspace2">
              </div>
          </a>
          <a href="gallery.html">İstanbul</a>
        </div> 
      </div>
      
