
      <div class="ileti">
        <div class="ibilgi">
          <h1 style="text-align: center;">İletişime Geçin</h1> <br> 
          <h3>Merak ettikleriniz veya  sormak istedikleriniz için benimle dilediğiniz zaman iletişime geçebilirsiniz</h3> <br>
          <div class="icn">
            <i class='fas fa-phone' style="margin-right: 3px;"></i>
            <span style="margin-right: 5px;"> +90 507 042 28 66</span>
            <i class='fas fa-location-arrow' style="margin: 0 3px;"></i>
            <span>Konyaaltı / Antalya</span>
          </div>
        </div>
        <div class="frm">
          <input type="text" placeholder="Ad"><br><br>
          <input type="text" placeholder="Soyad"><br><br>
          <input type="email" placeholder="Email"><br><br>
          <input type="text" placeholder="Numara"><br><br>
          <a href="#">Gönder</a>
        </div>
      </div>
      