<div class="header">
    <div class="logo">
      <a href="index.html">
        <img src="../../../assets/img/logo.png" alt="">
      </a>
    </div>
    <div class="menu">
      <ul>
        <li><a routerLink="">Anasayfa</a></li>
        <li><a routerLink="blog">Blog</a></li>
        <li><a routerLink="odevkayit">Ödevler</a></li>
        <li><a routerLink="hakkimizda">Biz Kimiz</a></li>
        <li><a routerLink="iletisim">İletişim</a></li>
        <li><a routerLink="guncelodev">Projeler</a></li>
        <li><a routerLink="odevkayit">Hizmetlerimiz</a></li>
        <li *ngIf="!girildimi"><a href="giris">Giris</a></li>
        <li *ngIf="girildimi"><a class="btn" (click)="cikis()">Cıkış</a></li>
      </ul>
    </div>
  </div>
